body {
    background-image: url("Images/trees1.jpg");
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

#title {

}

h1 {
    border: solid;
    border-color: aliceblue;
    font-family: "Palatino Linotype";
    color: #fff6f6;
    justify-content: center;
    font-size: 500%;
    display: flex;
    text-align: center;
    background-color: #d16340;
    background-border: aliceblue;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

#photos {
    display: flex;
    flex-direction: row;
    flex: 80%;
    flex-wrap: wrap;
    max-width: 75% ;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 2%;
    margin-top: 2%;
}

.fotos :hover{
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
    transition-duration: 1s;
}

#principal {
    display: flex;
    flex-direction: row;
}

#info {
    flex: 15%;
}

#text1{
    font-size: 170%;
    color: #27211e;
}
#btn1 {
    color: #0e4d09 !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #d16340;
    border: 2px solid;
    border-color: #0e4d09;
    transition: all 1s ease;
    position: relative;
}

#btn1:hover {
    color: #b27bb3;
    background: #0e4d09;
    color: #fff !important;
}

#btn2 {
    color: #60496e !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #d16340;
    border: 2px solid;
    border-color: #60496e;
    transition: all 1s ease;
    position: relative;
}

#btn2:hover {
    background: #60496e;
    color: #fff !important;
}

.btnX {
    color: rgba(154, 148, 145, 0.9) !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #d16340;
    border: 2px solid;
    border-color: #9a9491;
    position: relative;
    margin-top: 2%;
    margin-left: 18%;
}

.btnX:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(72, 172, 74);
    transition: all 0.2s ease;
    border-color: #22ff34;
}
#aboutUs{
    width: 100%;
}
.fotos{
    margin: 0.5%;
    width: 250px;
    height: 200px;
}
